@layer db-ux;

@import "@db-ux/core-components/build/styles/rollup.css" layer(db-ux);

html {
  overflow: hidden;
}

/* TODO: Use real table css in future */
table {
  inline-size: 100%;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid var(--db-adaptive-on-bg-basic-emphasis-60-default);
  padding: var(--db-spacing-fixed-md);
  max-inline-size: 33vw;
}

table td {
  word-break: break-word;
}

table tr:nth-child(even) {
  background-color: var(--db-neutral-bg-basic-transparent-semi-default);
  color: var(--db-neutral-on-bg-basic-emphasis-100-default);
}

table th {
  background-color: var(--db-neutral-bg-basic-transparent-semi-default);
  color: var(--db-neutral-on-bg-basic-emphasis-100-default);
  padding-inline: var(--db-spacing-fixed-md);
}
